[submodule "rv003usb"]
	path = rv003usb
	url = https://github.com/monte-monte/rv003usb
	branch = usb_terminal
[submodule "ch32v003fun"]
	path = ch32v003fun
	url = https://github.com/monte-monte/ch32v003fun
	branch = usb_terminal
